<p id="notice"><%= notice %></p>

<h4>Approve Submissions</h4>

<% if @ratings.size <= 0 %>
  <p>No submissions left to approve!</p>
<% else %>
  <table>
    <thead>
      <tr>
        <th>Road</th>
        <th>Platform</th>
        <th>Safety</th>
        <th>Quality</th>
        <th>Encroachment</th>
        <th>Approve?</th>
      </tr>
    </thead>

    <tbody>
      <% @ratings.each do |rating| %>
        <tr>
          <td>
            <strong>Road: </strong><%= rating.road.summary %><br>
            <strong>Comments: </strong><%= rating.comments %><br>
            <% rating.photos.each do |photo| %>
              <a class="fancybox" rel="group" href="<%= photo[:original] %>">
                <img class='thumbsize img-circle' src="<%= photo[:thumbnail] %>" alt="" />
              </a>
            <% end %>
          </td>
          <td><%= star_html(rating.platform_usability) %></td>
          <td><%= star_html(rating.safety) %></td>
          <td><%= star_html(rating.road_quality) %></td>
          <td><%= star_html(rating.encroachment) %></td>
          <td>
            <%= link_to 'Yes', approve_rating_path(rating.id) %> /
            <%= link_to 'No', reject_rating_path(rating.id) %>
          </td>
        </tr>
      <% end %>
    </tbody>
  </table>

  <br>

  <script type='text/javascript'>
    $(document).ready(function() {
      $(".fancybox").fancybox();
      $('.rating').barrating({
        theme: 'fontawesome-stars',
        readonly: true
      });
    });
  </script>

<% end %>