<p id="notice"><%= notice %></p>

<h1>Ratings</h1>

<table>
  <thead>
    <tr>
      <th>Road quality</th>
      <th>Encroachment</th>
      <th>Platform usability</th>
      <th>Safety</th>
      <th>Comments</th>
      <th>Road</th>
      <th>User</th>
      <th>Status</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @ratings.each do |rating| %>
      <tr>
        <td><%= rating.road_quality %></td>
        <td><%= rating.encroachment %></td>
        <td><%= rating.platform_usability %></td>
        <td><%= rating.safety %></td>
        <td><%= rating.comments %></td>
        <td><%= rating.road.summary %></td>
        <td><%= rating.user.email %></td>
        <td><%= rating.status %></td>
        <td><%= link_to 'Show', rating %></td>
        <td><%= link_to 'Edit', edit_rating_path(rating) %></td>
        <td><%= link_to 'Destroy', rating, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Rating', new_rating_path %>
