<p id="notice"><%= notice %></p>

<p>
  <strong>Road quality:</strong>
  <%= @rating.road_quality %>
</p>

<p>
  <strong>Encroachment:</strong>
  <%= @rating.encroachment %>
</p>

<p>
  <strong>Platform usability:</strong>
  <%= @rating.platform_usability %>
</p>

<p>
  <strong>Safety:</strong>
  <%= @rating.safety %>
</p>

<p>
  <strong>Comments:</strong>
  <%= @rating.comments %>
</p>

<p>
  <strong>Road:</strong>
  <%= @rating.road_id %>
</p>

<%= link_to 'Edit', edit_rating_path(@rating) %> |
<%= link_to 'Back', ratings_path %>
