<!DOCTYPE html>
<html lang="<%= I18n.locale %>">
<head>
  <meta charset="utf-8" />
  <meta name="ROBOTS" content="NOODP" />
  <meta name="viewport" content="initial-scale=1" />
  <title><%= content_for(:title) %> | <%= Rails.application.class.parent_name.titlecase %></title>
  <%= render "stylesheet" %>
  <%= csrf_meta_tags %>
</head>

<body>
  <header class="header search" style="background-color:#2276AB; color: #FFF"> <h1 class="header__heading" >  Infracity</h1></header>
  
</form>
  <div class="app-container">
    <div class="sidebar">
      <%= render "sidebar" -%>
    </div>

    <main class="main-content" role="main">
      <%= content_for(:search) %>
      <%= render "flashes" -%>
      <%= yield %>
    </main>

  </div>

  <%= render "javascript" %>
</body>
</html>
